p{
    color: #F2EFE9;
}

div {
    display: inline-block;
    margin: 5px;
    border-color: #295FA6;
    border-style: solid;
    padding: 5px;
    background-color: #295FA6;
}
.container {
    border: none;
    border-style: none;
    background-color: #F2E9D8;
    display: inline-block;
}

h1{
        text-align: center;
        margin-top: 20px;
        padding: 10px;
        color:#295FA6;
}